@import url("https://fonts.googleapis.com/css2?family=Hanalei&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing Script: 300,400");

body,
html {
  margin: 0;
  padding: 0;
  border: 1px solid;
  background: linear-gradient(rgb(8, 59, 47), rgb(30, 119, 89));
  background-size: cover;
}


